<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
    <add name="oledbString" connectionString="Provider=SQLOLEDB.1;Server=123.123.123.41;database=csk;user id=tcyybyj;password=tcyybyj;Persist Security Info=True;Packet Size=4096;" providerName="System.Data.SqlClient"/>
    -->
  <add name="oledbString"   connectionString="Provider=MSDAORA.1;User ID=tcyybyj;Password=tcyybyj;Data Source=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST = 123.123.123.41)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = csk)))"/>

  <add name="oledbSqlServer" connectionString="Provider=SQLOLEDB.1;Initial Catalog=prot;Data Source=123.123.123.250;User ID=hisfyj;Password=fyjhis"/>
  <add name="strCon" connectionString="server=10.10.10.35;user id=root; password=123456; database=unisky;CharSet = utf8"/>
</configuration>