<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="superSocket" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine" />
  </configSections>
  <superSocket>
    <servers>
      <server name="SuperSocketServer" textEncoding="utf-8" serverType="SuperSocketServer.AppBase.MyServer, SuperSocketServer" ip="Any" port="10050" maxConnectionNumber="100">
      </server>
    </servers>
  </superSocket>
</configuration>